# App
NODE_ENV=development
PORT=3000
APP_URL=http://localhost:3000

# Database 
# Local PostgreSQL
# DATABASE_URL="postgresql://[USER]:[PASSWORD]@localhost:5432/[YOUR_DB_NAME]?schema=public"

# Supabase PostgreSQL
DATABASE_URL="postgresql://postgres.xxxxxxxxxxx:your-db-password@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres"

# Supabase Storage
SUPABASE_URL=https://xxxxxxxxxxxxxx.supabase.co
SUPABASE_SERVICE_KEY=your_supabase_service_key_here

# JWT
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# RajaOngkir
RAJAONGKIR_API_KEY=your_rajaongkir_key
RAJAONGKIR_BASE_URL=https://api.rajaongkir.com/starter

# Xendit
XENDIT_SECRET_KEY=xnd_development_xxx
XENDIT_WEBHOOK_TOKEN=your_webhook_token

# Midtrans
MIDTRANS_SERVER_KEY=SB-Mid-server-xxx
MIDTRANS_CLIENT_KEY=SB-Mid-client-xxx
MIDTRANS_IS_PRODUCTION=false

# Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@email.com
SMTP_PASS=your_app_password